body{
  background-color: brown;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.bg-dark {
  background-color: brown;
}

nav li {
    float: left;
    list-style-type: none;
    padding: 10px;
    margin-bottom: -16px;
    border: solid 2px black;
    background-color: burlywood;
    /* width: 380px; */
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
}

nav a:visited{
  color: purple;
}

nav a:hover{
  background-color: yellowgreen;
}

nav a:active{
  background-color: yellow;
}

h1{
  text-align: center;  
  font-family: monospace;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}
.col-6{
    border: 2px solid black;
    height: 300px;
    text-align: center;
}

.one{
    background-color: blueviolet;
    padding-top: 100px;
    font-family: fantasy;
    color: darkgrey;
}

.two {
    background-color: blue;
    padding-top: 100px;
    font-family: fantasy;
    color: cornsilk;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
footer {
  padding: 2rem 4rem;
  background: #1a1a1a;
  color: #ccc;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  gap: 2rem;
}
.footer_about {
  /*   background:red; */
}
h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer_about p {
  font-size: 0.85rem;
}

.footer_main {
  /*   background:orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_main ul {
  padding-left: 1rem;
  line-height: 1.5;
}
.footer_right {
  /*   background:blue; */
}

.footer_right .footer_links {
  /*   background:gold; */
  padding: 1.2rem;
  display: flex;
  gap: 10px;
}
.footer_right .footer_links i {
  width: 40px;
  height: 40px;
  background: gray;
  border-radius: 50%;
}

.copyright {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 700px) {
  .footer {
    grid-template-column: 1fr;
  }

